body {
    display: flex;
    align-items: center;
    justify-items: center;
   
    background: #ec8989;
    color: #dfe4ea;
  }
  body h1 {
    margin-bottom: 3rem;
    text-transform: uppercase;
    font-size: 3rem;
  }
  body h1 span, body h1 i {
    color: #ffa502;
  }

button{
    width: 60%;
    display: inline-block;
    
    
}
